# configuration for dnsmasq

# you can specify options for dnsmasq here
OPTIONS=""

# change this line if you want dnsmasq to serve an MX record for 
# the host it is running on. 
MAILHOSTNAME=""

# change this line if you want dns to get its upstream servers from
# somewhere other that /etc/resolv.conf 
RESOLV_CONF=""

# change this if you want dnsmasq to cache any "hostname" or "client-hostname" from
# a dhcpd's lease file
DHCP_LEASE="/var/lib/dhcp/dhcpd.leases"

DOMAIN_SUFFIX=`dnsdomainname`
